    <div class="container">
      <div class="row">
       <% @venues.each do |venue| %>
         <div class="card col-3" >
           <%= link_to venue_path(venue), class:'text-decoration-none' do %>
             <%= image_tag venue.photos.first, class:"card-img-top w-100"%>
             <div class="card-body">
             <h5 class="card-title"><%= venue.name %></h5>
             <h5 class="cardLocation"><%= venue.location %></h5>
             <p class="card-text"><%= venue.description %></p>
             <%= link_to "show",venue_path(venue), class: "btn btn-danger"%>
        </div>
      <% end %>
      </div>
  <% end %>
</div>
</div>
</div>
