    <div class="container">
      <div class="card-group">
       <% @venues.each do |venue| %>
         <div class="card col-4" >
           <%= link_to venue_path(venue), class:'text-decoration-none' do %>

             <%= image_tag venue.photos.first, class:"card-img-top"%>
             <div class="card-body">
             <h5 class="card-title"><%= venue.name %></h5>
             <h5 class="cardLocation"><%= venue.location %></h5>
             <p class="card-text"><%= venue.description %></p>
             <%= link_to "show",venue_path(venue), class: "btn btn-danger"%>
        </div>
      <% end %>
      </div>
  <% end %>
  <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
</div>
</div>
