<div class="grid-map">
 <div class="cards-container ">
    <% @venues.each do |venue| %>
    <div class=" card-venue" >
      <%= image_tag venue.photos.sample, class:"card-img-top card-venue-img pictureIndex"%>
      <div class="card-body">
        <h5 class="card-title"><%= venue.name %></h5>
        <h5 class="cardLocation"><%= venue.location %></h5>
        <p class="card-text"><%= venue.description %></p>
        <br>
        <%= link_to "show",venue_path(venue), class: "btn btn-danger"%>
      </div>
    </div>
    <% end %>
  </div>
  <div class=mapIndex>
    <div id="map"
        style="height: 100vh; width: 500px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
